{% extends 'base.html' %}

{% block meta %} 
<meta name="description" content="Check the speed of your internet and WiFi with Confep's free Internet Speed Test, checks your connection's download and upload speeds snd ping using your browser."> 
<meta name="keywords" content="internet speed test,internet speed test google,internet speed test vodafone,internet speed test telekom,internet speed test chip,internet speed test unitymedia,internet speed meter,internet speed calculator,internet speed test o2,internet speed,check internet speed,check internet speed online,check internet speed google,check internet speed command line,check internet speed spectrum,check internet speed in my area,check internet speed xfinity,check internet speed by address,check internet speed test,check internet speed mac"> 
{% endblock  %}

{% block google_ads %} <script data-ad-client="ca-pub-5341667575368596" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> {% endblock  %}


{% block style %}
#p {color:#9c9c9c;}
  /* Facebook Section */
#facebook {
    {% comment %} background: #ee8c3a; {% endcomment %}
    background-image: url("http://www.confep.in/static/speed.gif");
    background-repeat: no-repeat;
    padding: 80px 0px;
    text-align: center;
    color: #fff;
}
#facebook h3 {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}
#facebook p {
    font-size: 15px;
    font-style: italic;
    padding: 0px;
    margin: 25px 0px 40px;
}
#facebook form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}
#facebook form input[type="text"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#facebook form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
#facebook form input[type="submit"]:hover {
    opacity: 0.9;
}
{% endblock %}

{% block more %}active{% endblock  %}

{% block title %}Internet Speed Tester{% endblock  %}

{% block content %}

<div class="my-3">
<div class="row" style="margin-left: 0px;margin-right: 0px;">

<!--  Form Section -->
                    <form action="/internet-speed-test" method="post">
                    {% csrf_token %}
    <button type="submit" value="Download" class="form-control">
    <section id="facebook">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1>Check Your Internet Speed</h1>
                    <p>Hit to Start the Test</p>
                </div>
            </div>
          <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="input-group">
                      
                    </div>
                    

                </div>
          </div>
        </div>
    </section><!-- End Form Section--></button>
</form>
</div>
</div>

<div class="container">

<div class="row my-3">
</div>



{% if download %}

<div class="row">

<table class="table" style="width:100%;margin-top:30px;margin-bottom:50px;color:black;text-align:center;">
  <thead class="thead-light">
  <tr>
    <th>Download Speed</th>
    <th>Upload Speed</th>
    <th>Ping</th>
  </tr>
  </thead>
  <tbody style="color:blue;">
  <tr>
    <th scope="row">{{download}}</th>
    <td>{{upload}}</td>
    <td><strong style="color:line;">{{ping}}</strong></a></td>
  </tr>
  </tbody>
</table>

</div>

{% endif %}

<div class="row my-3">
</div>


<div class="row">

      <div class="card">
        <div class="card-body my-3">
          <blockquote class="blockquote mb-0">


<p id="p">If you aren’t satisfied with the internet speeds you’re getting, explore our help tips for troubleshooting your connection and optimizing your speed. Or, if you're getting the speed you're paying for but simply need more bandwidth, use our address checker to see if a CenturyLink service updgrade is available in your area.  
</p>

<p id="p">There are many factors that can influence the results of an internet speed test. If the test didn’t give you the results you were hoping for, start by optimizing your setup and troubleshooting possible causes of slow performance. Then run the test again to see the improvement.</p>
<p id="p">With Confep Internet Speed Checker, you not only get upload and download speed but also the ping your current network is having.</p>


</blockquote>


        </div>

    </div>
  </div>


    <div class="container my-3">
    </div>




</div>


{% endblock %}