{% extends 'base.html' %}

{% block meta %} 
<meta name="description" content="Strong Password Generator to create secure passwords that are impossible to crack on your device without sending them across the Internet, and learn over 40 ..."> 
<meta name="keywords" content="random password generator,random password generator python,random password generator words,random password generator linux,random password generator java,random password generator javascript,random password generator excel,random password generator norton,random password generator php,random password generator in python project,random password generator online,password generator,password generator words,password generator lastpass,password generator norton,password generator python,password generator gaijin,password generator linux,password generator chrome,password generator eu,password generator nordpass,password generator online, random password generator,random passwords,random password generator python,random password generator words,random password generator linux,random password generator java,random password generator javascript,random password generator excel,random password generator norton,random password generator php,random password"> 
{% endblock  %}

{% block google_ads %} <script data-ad-client="ca-pub-5341667575368596" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> {% endblock  %}


{% block style %}
#p {color:#9c9c9c;}
  /* Facebook Section */
#facebook {
    {% comment %} background: #ee8c3a; {% endcomment %}
    background-image: url("http://www.confep.in/static/password.png");
    background-repeat: no-repeat;
    padding: 80px 0px;
    text-align: center;
    color: #fff;
}
#facebook h3 {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}
#facebook p {
    font-size: 15px;
    font-style: italic;
    padding: 0px;
    margin: 25px 0px 40px;
}
#facebook form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}
#facebook form input[type="text"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#facebook form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
#facebook form input[type="submit"]:hover {
    opacity: 0.9;
}
{% endblock %}



{% block generator %}active{% endblock  %}

{% block title %}Free Random Password Generator{% endblock  %}



{% block content %}

<div class="my-3">
<div class="row" style="margin-left: 0px;margin-right: 0px;">

<!--  Form Section -->
    <section id="facebook">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h1>Random Password Generator</h1>
                    <p>Generate a random strong password which no one can hack</p>
                </div>
            </div>
          <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form action="/random-password-generator" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        {% if len %}
                        <input type="text" name="link" id="link" value="{{len}}" class="form-control">
                        {% else %}
                        <input type="text" name="link" id="link" placeholder="Enter the Length of the password wanted" class="form-control">
                        {% endif %}
                        <button type="submit" value="Download" class="btn btn-dark" style="border-radius: 30px;" class="form-control">Generate</button>
                    </div>
                    </form>

                </div>
          </div>
        </div>
    </section><!-- End Form Section-->
</div>
</div>

<div class="container">

<div class="row my-3">
</div>


{% if output %}

<div class="row" style="text-align:center;">

<h2>Your Password</h2>
<input type="text" value="{{output}}" id="myInput" class="form-control" style="font-size:25px;text-align:center;">
<button onclick="myFunction()" class="form-control btn btn-dark" style="font-size:25px;color:#ee8c3a;">Copy text</button>
<br>

</div>

{% endif %}

<div class="row my-3">
</div>

<div class="row">

      <div class="card">
        <div class="card-body my-3">
          <blockquote class="blockquote mb-0">



<p id="p">To prevent your passwords from being hacked by social engineering, brute force or dictionary attack method, and keep your online accounts safe, you should notice that:</p>
<p id="p">1. Do not use the same password, security question and answer for multiple important accounts.</p>
<p id="p">2. Use a password that has at least 16 characters, use at least one number, one uppercase letter, one lowercase letter and one special symbol.</p>
<p id="p">3. Do not use the names of your families, friends or pets in your passwords.</p>
<p id="p">4. Do not use postcodes, house numbers, phone numbers, birthdates, ID card numbers, social security numbers, and so on in your passwords.</p>
<p id="p">5. Do not use any dictionary word in your passwords. Examples of strong passwords: ePYHc~dS*)8$+V-' , qzRtC{6rXN3N\RgL , zbfUMZPE6`FC%)sZ. Examples of weak passwords: qwert12345, Gbt3fC79ZmMEFUFJ, 1234567890, 987654321, nortonpassword.</p>
<p id="p">6. Do not use two or more similar passwords which most of their characters are same, for example, ilovefreshflowersMac, ilovefreshflowersDropBox, since if one of these passwords is stolen, then it means that all of these passwords are stolen.</p>
<p id="p">7. Do not use something that can be cloned( but you can't change ) as your passwords, such as your fingerprints.</p>
<p id="p">8. Do not let your Web browsers( FireFox, Chrome, Safari, Opera, IE, Microsoft Edge ) to store your passwords, since all passwords saved in Web browsers can be revealed easily.</p>
<p id="p">9. Do not log in to important accounts on the computers of others, or when connected to a public Wi-Fi hotspot, Tor, free VPN or web proxy.</p>
<p id="p">10. Do not send sensitive information online via unencrypted( e.g. HTTP or FTP ) connections, because messages in these connections can be sniffed with very little effort. You should use encrypted connections such as HTTPS, SFTP, FTPS, SMTPS, IPSec whenever possible.</p>



</blockquote>


        </div>

    </div>

  </div>



    <div class="container my-3">
    </div>





</div>

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}
</script>
















{% endblock %}